
html{
    box-sizing: border-box;
    padding-top: 5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 5vh;
    background-color: black;
    text-align: center ;
}

img {
    
    height: 150px;
    width: 150px;
    margin: 10px; 
    
}
body {
    margin: 0;
    padding: 0;
}

#box1 {
    
    text-align: center;
    box-sizing: border-box;
    height: 80vh;
    width: 95vw;
    background-color: aqua;
 
    border-left: 15vw solid white;
    border-right: 15vw solid white;
    border-top: 5vh solid white;
    border-bottom: 5vh solid white;
 
  }
  #box1 a {
    display: block;
    
 
    
}
#box1 p {
    text-align: left;
    


}


